<table cellspacing="20" cellpadding="0">
  <tr>
    <td>Someone completed the <strong><%= @decisionAid.title %></strong> decision aid!</td>
  </tr>
  <tr>
    <td>A summary of their responses is attached.</td>
  </tr>
  <tr>
    <td>-----------------------------------------------------</td>
  </tr>
  <tr>
    <td>THIS IS NOT A MONITORED EMAIL ADDRESS - DO NOT REPLY TO IT.</td>
  </tr>
</table>