<table cellspacing="20" cellpadding="0">
  <tr>
    <td>Someone used your email to request a password reset on DCIDA! Please click on the link below to reset your password. You have 2 days from receiving this email to reset your password, otherwise the token will expire and you will need to request a new reset email.
  </tr>
  <tr>
    <td><a href="<%=@request_origin + '/#/user_reset?resetToken=' + @user_authentication.token + '&email=' + @user_authentication.email %>">Reset DCIDA Password</a></td>
  </tr>
  <tr>
    <td>-----------------------------------------------------</td>
  </tr>
  <tr>
    <td>THIS IS NOT A MONITORED EMAIL ADDRESS - DO NOT REPLY TO IT.</td>
  </tr>
</table>